/* mycss */
.cardbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card img {
  width: 200px;
  height: 250px;
}
.card {
  padding: 5px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.my-header-top {
  background: url(../images/cop.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.my-header {
  width: 100%;
  padding: 15px 40px 15px 40px;
}
.my-row {
  align-items: center;
}
#main-body {
  margin-top: 30px;
  margin-bottom: 100px;
}
#filter-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filter {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 10px;
}
#filter span {
  text-wrap: nowrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}
#filter-selection {
  width: 30%;
  overflow-y: scroll;
  outline: none;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
}
.my-allpd {
  padding-top: 0px !important;
  margin-top: 40px;
}
.card a i {
  padding: 5px 10px 5px 10px;
  font-size: 3.5rem;
}
#logoimg {
  width: 90px;
  height: 87px;
  border-radius: 15px;
}
.viewbtnbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.viewbtnbox button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.viewbtnbox button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.viewbtnbox button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.ownercard span {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin: 6px 0px;
}
#locationframe {
  width: 100%;
  height: 650px;
}
#glass {
  padding: 20px 0px;
  text-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: "Baloo Bhai 2", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.849);
  font-size: 2rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
#sectionimg {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/shyam-jewellers/shyam-jewellers/refs/heads/main/images/oshop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
